body{
    background-color: blueviolet;
}

p{font-family: 'Times New Roman', Times, serif ;}



.citation{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.5em
}

#intro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
-

} 